body{
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

/* Heading */
h1{
  text-align: center;
  margin-bottom: 20px;
}

/* HOME BUTTON */
#home{
  padding: 10px 25px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Category Buttons Parent */
.btns{
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

/* Category Buttons */
.btns button{
  padding: 8px 14px;
  border: none;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.3s;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.btns button:hover{
  background: #000;
  color: white;
}

/* Active Category Button */
.btns button.active{
  background: #000;
  color: white;
}

/* Product Container */
.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Product Card */
.card{
  background: white;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover{
  transform: translateY(-4px);
}

.card h2{
  margin-bottom: 10px;
  font-size: 20px;
}

.card p{
  font-size: 14px;
}
